@page
@model WebBiblioteca.Pages.LibrosAdminModel
@{
	ViewData["Title"] = "Admin Libros";
}

<div class="my-5">
    <div class="card">
        <h1 class="card-header text-center">Registro de libros</h1>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio Alquiler</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Estado</th>

                    </tr>
                </thead>
                <tbody class="text-center">
					@foreach (var itemLibro in Model.Libros)
					{
						<tr>
							<th scope="row">@itemLibro.Id_libro</th>
							<td>@itemLibro.Titulo</td>
							<td>@itemLibro.Stock</td>
							<td>@itemLibro.precio_alquiler</td>
							<td>@itemLibro.Id_Autor</td>
							<td>@itemLibro.Id_Genero</td>
							<td>@itemLibro.Id_Estado</td>
						</tr>
					}
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
